# Generally required
numpy
matplotlib
tifffile
# Tilt axis alignment
opencv
ipywidgets
scikit-image
# Feature extraction and reconstruction
drca # automatically installed with CAETomo
pytorch
tabulate
torchkbnufft
